@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --border-default: 3px solid black;
    --background-color: #333333;
    --color-white: #ffffff;
    --color-beige: hsl(33, 100%, 88%);
    --color-gray: #808080;
}

body {
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1 {
    padding: 1rem;
    color: var(--color-white);
    text-align: center;
    font-size: 3rem;
}

#btnStart {
    margin-bottom: 1rem;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    font-weight: bold;
    background-color: var(--color-beige);
}

#btnStart:hover {
    background-color: var(--color-gray);
    color: var(--color-white);
}

#board {
    display: grid;
    grid-template-columns: 9rem 9rem 9rem;
    grid-template-rows: 9rem 9rem 9rem;
    gap: 0.75rem;
    width: 100vw;
    height: 65vh;
    place-content: center;
}

.space {
    display: grid;
    border-radius: 20px;
    place-content: center;
    background-color: rgb(211, 196, 255);
    font-size: 7rem;
    font-family: "Climate Crisis", sans-serif;
}

/*---------------------------------------------------------------------*/

#player1, #player2, #turnOf {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 30%;
    background-color: hsl(33, 100%, 88%);
}

#info {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.space:hover {
    background-color: #ccc;
}

.ganhou {
    background-color: hsla(54, 93%, 55%, 0.775);
}